:root{
    --cor_de_fundo_um: #FFFFFF;
    --cor_letra_fundo_escuro: #020C12;
    --corfundo2: #57fadf;
    --corquadrado: #26e400; 
}
* {
    margin: 0;
    padding: 0;
}
.banner {
    width: 100%;
    height: 50px;
    background-color: var(--corquadrado);
}
.lixo {
    height:90px;
    width: 8%;

}

.conteudo{
    width: 100%;
    height: 20px;
    background-color: var(--cor_de_fundo_um);
    text-align: center;
}
.rodape {
    width: 100%;
    height: 50px;
    background-color: var(--corquadrado);
    text-align: center;
}

body {
    background-color: #FFFFFF;
}

h1 {
   color: #020c12;
   font-size: x-large;
   text-align: center;
}

h2 {
    color:#020C12;
    text-align: center;
}

h3 {
    color:#020C12;
    text-align: center;
}
