* {
    font-family: 'Roboto Slab', serif;
}

:root{
    --cor_de_fundo_um: #FFFFFF;
    --cor_letra_fundo_escuro: #020C12;
    --corfundo2: #57fadf;
    --corquadrado: #00afe4; 
}
* {
    margin: 0;
    padding: 0;
}
.banner {
    width: 100%;
    height: 50px;
    background-color: var(--corfundo2);
}
.lixo {
    height:90px;
    width: 8%;
}

.conteudo{
    width: 100%;
    height: 20px;
    background-color: var(--cor_de_fundo_um);
    text-align: center;
    font-family:'DM Sans', sans-serif;
}
.rodape {
    width: 100%;
    height: 50px;
    background-color: var(--corquadrado);
    text-align: center;
}

body {
    background-color: #FFFFFF;
}

h1 {
   color: #020c12;
   font-size: x-large;
   text-align: center;
   font-family:'DM Sans', sans-serif;
}

h2 {
    color:#020C12;
    text-align: center;
    font-family:'DM Sans', sans-serif;
    font-size: medium;
}

.container {
    width: 100%;
    overflow: hidden;
}

img {
    float:left;
    margin-right: 20px;
}

p {
    margin: 0;
}

h4 {
    color: #020C12;
    text-align: center;
}

.container {
    width: 100%;
    overflow: hidden;
}

img {
    float:left;
    margin-right: 20px;
}

p {
    margin: 0;
}

.lixeira {
    display: flex;
    flex-direction: row-reverse;
    background-color: #f7f8f7;
}

.face {
    width: 120px;
    height: 120px;
    background-color: #feffff;
}

button {
    background-color: aqua;
}

.container {
    width: 100%;
    overflow: hidden;
}

img {
    float: right;
    margin-right: 20px;
}

p {
    margin: 0;
}